*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
nav{
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    background-color: red;
    justify-content: space-between;
}





/*  Kullanılması planlanan renklerin kodları : 
    
    #FFFFFF; BEYAZ
    #FBFBFB; YALANDAN BEYAZ
    #F4F4F4; YALANDAN BEYAZ 2
    #B9111F; KIRMIZI
    #868686; AÇIK GRİ
    #333333; KOYU GRİ
    #000000; SİYAH
    
    
    */