*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    min-height: 100vh;
    margin:0;
    background-color: #2b2b2b;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}

h3{
    font-size: 1rem;
}
ul {
    list-style: none;
}
img{
    height: 100px;
    
}
.container img{
    height: 5rem;
    width: 5rem;
    border-radius: 20px;
}

.menu-bar{
    height: auto;
    width: 100vw;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}
.menu-bar ul{
    display: flex;
    justify-content: space-between;
}
.menu-bar ul li a{
    color: #505050;
}
.menu-bar ul li a:hover{
    color: red;
    border-radius: 5px;
}

.footer-bar{
    min-height:50px;    
}
.footer-bar ul{
    display: flex;
    justify-content: space-around;
    min-width: 400px;
}
.footer-bar ul li a{
    color: #505050;
}
.footer-bar ul li a:hover{
    color: red;
    border-radius: 5px;
}
.single-product{
    min-width: 300px;
    display: flex;
    align-items: center;
    background-color: #353535;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;

}
.main-header{
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 20px;
}
.container{
    background-color: #353535;
    min-width: 15px;
    color: white;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}


.product-info h3{
    font-size: 1.5rem;
    letter-spacing: 3px;
    font: bold;



}
.product-description{
    margin-top: 0.8rem;
    opacity: .5;
    font-size: 1rem;
    font: caption;


}
.product-price{
    margin-top: 5px;
    opacity: .5;
    font: caption;
    font-size: 0.8rem;

}

.product-image{
    margin-right: 20px;
    border-radius: 20%;
    width: 100px;
}





/*  Kullanılması planlanan renklerin kodları : 
    
    #FFFFFF; BEYAZ
    #FBFBFB; YALANDAN BEYAZ
    #F4F4F4; YALANDAN BEYAZ 2
    #B9111F; KIRMIZI
    #868686; AÇIK GRİ
    #333333; KOYU GRİ
    #000000; SİYAH
    
    
    */