*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: #2b2b2b;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.menu-bar{
    height: auto;
    width: 100vw;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}
.menu-bar ul{
    display: flex;
    justify-content: space-between;
}
.menu-bar ul li a{
    color: #818181;
}
.menu-bar ul li a:hover{
    color: red;
    border-radius: 5px;
}

.footer-bar{
    height: auto;
    width: 100vw;
    position: absolute;
    left: 0px;
    bottom: 5px;
}
.footer-bar ul{
    display: flex;
    justify-content: space-around;
    min-width: 400px;
}
.footer-bar ul li a{
    color: #818181;
}
.footer-bar ul li a:hover{
    color: red;
    border-radius: 5px;
}






/*  Kullanılması planlanan renklerin kodları : 
    
    #FFFFFF; BEYAZ
    #FBFBFB; YALANDAN BEYAZ
    #F4F4F4; YALANDAN BEYAZ 2
    #B9111F; KIRMIZI
    #868686; AÇIK GRİ
    #333333; KOYU GRİ
    #000000; SİYAH
    
    
    */